## IGNORE EVERYTHING -- MANUALLY INCLUDE INSTEAD
*

## EXCEPTIONS

# basic files
!.gitignore
!README.md

!index.html
!toc.html
!basic.html
!characters.html
!combat.html
!referee.html
!optional_classes.html
!classes/
!classes/*.html

!resources/
!resources/cover_knight.jpeg

.DS_Store