## IGNORE EVERYTHING -- MANUALLY INCLUDE INSTEAD
*

## EXCEPTIONS

# basic files
!.gitignore
!README.md

!index.html
!toc.html
!basic.html
!characters.html
!items.html
!exploration.html
!combat.html
!referee.html
!optional_classes.html

!classes/
!classes/*.html

!classes-json/
!classes-json/*.json

!monsters.html
!sources.html

!resources/
!resources/cover_knight.jpeg

.DS_Store